@model IEnumerable<CarStore.Models.Cars.CarListingModel>

@{
    ViewBag.Title = "All Cars";
}

<h2 class="text-center mt-60">Our Cars - Page @ViewBag.CurrentPage</h2>

@if (!Model.Any())
{
    <h2 class="text-center">No more cars.</h2>
}

@foreach (var car in Model)
{
    <div class="row mt-60">
        <a href="/Cars/Details/@car.Id" class="btn btn-default">
            <div class="col-md-4">
                <img src="@car.ImageUrl" class="img-responsive" />
            </div>
            <div class="col-md-4">
                <h2>@car.Make @car.Model (@car.Year)</h2>
                <h3>@car.EngineType @car.Engine.ToString("f1")l</h3>
                <h3>Price: @car.Price BGN</h3>
                <br />                
                <h4>See Details</h4>
            </div>
            <div class="col-md-4">
                <div class="size" style="word-wrap: break-word; white-space: pre-line; text-align: justify;">
                    <p>@car.AdditionalInformation</p>
                </div>
                
            </div>
        </a>
    </div>
}

@{
    var currentUserQuery = Request.QueryString["user"];
}

<br />
<p class="text-center">
    <a href="/Cars/All?page=@(ViewBag.CurrentPage - 1)@(currentUserQuery != null ? "&user=" + currentUserQuery : string.Empty)" class="btn btn-primary @(ViewBag.CurrentPage == 1 ? "disabled" : string.Empty)">&laquo; Previous</a>
    <a href="/Cars/All?page=@(ViewBag.CurrentPage + 1)@(currentUserQuery != null ? "&user=" + currentUserQuery : string.Empty)" class="btn btn-primary @(!Model.Any() ? "disabled" : string.Empty)">Next &raquo;</a>
</p>